[submodule "software/neovim"]
	path = software/neovim
	url = https://github.com/neovim/neovim
[submodule "software/ohmyzsh"]
	path = software/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "themes/zsh/powerlevel10k"]
	path = themes/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "plugins/nvim/lazy.nvim"]
	path = plugins/nvim/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule "plugins/nvim/plenary.nvim"]
	path = plugins/nvim/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "plugins/nvim/telescope-fzf-native.nvim"]
	path = plugins/nvim/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule "plugins/nvim/telescope.nvim"]
	path = plugins/nvim/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
