[submodule "software/neovim"]
	path = software/neovim
	url = https://github.com/neovim/neovim
[submodule "software/ohmyzsh"]
	path = software/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "themes/zsh/powerlevel10k"]
	path = themes/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "plugins/nvim/lazy.nvim"]
	path = plugins/nvim/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule "plugins/nvim/plenary.nvim"]
	path = plugins/nvim/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "plugins/nvim/telescope-fzf-native.nvim"]
	path = plugins/nvim/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule "plugins/nvim/telescope.nvim"]
	path = plugins/nvim/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "plugins/nvim/tree-sitter-c"]
	path = plugins/nvim/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "plugins/nvim/tree-sitter-cpp"]
	path = plugins/nvim/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "plugins/nvim/tree-sitter-python"]
	path = plugins/nvim/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "plugins/nvim/tree-sitter-lua"]
	path = plugins/nvim/tree-sitter-lua
	url = https://github.com/MunifTanjim/tree-sitter-lua
[submodule "plugins/nvim/LuaSnip"]
	path = plugins/nvim/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "plugins/nvim/cmp-nvim-lsp"]
	path = plugins/nvim/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "plugins/nvim/cmp_luasnip"]
	path = plugins/nvim/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "plugins/nvim/fidget.nvim"]
	path = plugins/nvim/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim
[submodule "plugins/nvim/neodev.nvim"]
	path = plugins/nvim/neodev.nvim
	url = https://github.com/folke/neodev.nvim
[submodule "plugins/nvim/nvim-cmp"]
	path = plugins/nvim/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "plugins/nvim/nvim-lspconfig"]
	path = plugins/nvim/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "plugins/tmux/tpm"]
	path = plugins/tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "plugins/tmux/tmux-sensible"]
	path = plugins/tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "themes/tmux/tmux2k"]
	path = themes/tmux/tmux2k
	url = https://github.com/2KAbhishek/tmux2k.git
[submodule "plugins/nvim/gitsigns.nvim"]
	path = plugins/nvim/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "plugins/nvim/nvim-treesitter"]
	path = plugins/nvim/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "plugins/nvim/darcula"]
	path = plugins/nvim/darcula
	url = https://github.com/doums/darcula
[submodule "plugins/nvim/cmake-tools.nvim"]
	path = plugins/nvim/cmake-tools.nvim
	url = https://github.com/Civitasv/cmake-tools.nvim
[submodule "plugins/nvim/nvim-autopairs"]
	path = plugins/nvim/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "plugins/nvim/nvim-navic"]
	path = plugins/nvim/nvim-navic
	url = https://github.com/SmiteshP/nvim-navic
[submodule "plugins/nvim/nvim-navbuddy"]
	path = plugins/nvim/nvim-navbuddy
	url = https://github.com/SmiteshP/nvim-navbuddy
[submodule "plugins/nvim/nui.nvim"]
	path = plugins/nvim/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "plugins/nvim/lsp_signature.nvim"]
	path = plugins/nvim/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
