[submodule "software/neovim"]
	path = software/neovim
	url = https://github.com/neovim/neovim
[submodule "software/ohmyzsh"]
	path = software/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "themes/zsh/powerlevel10k"]
	path = themes/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "plugins/nvim/lazy.nvim"]
	path = plugins/nvim/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
